

.header-height {
	height: auto;
	line-height: 0px;
}

.inline-block {
	display: inline-block;
}



.container {
	position: relative;
}

.login-container{
	position: absolute;
	bottom: 0;
	right: 10px;
}

.footer-container{
	margin-top: 0px;
	padding: 10px 0 10px 0;
	text-align: center;
}

.header-container {
	display: inline-block;
}


footer.page-footer {
	margin: 0 !important;
	padding: 10px;
}

.username {
	padding-right: 10px;
	display: inline-block;
	color: #000;
}

.middle-container{
	width: 1024px;
	margin: 0 auto;
}

.mfooter{
	margin: 0;
}