<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="fragment" >
        <section class="header-breadcrumbs">
            <a th:href="@{/}">Strona główna</a>
        </section>
        <h2>Kierunki</h2>
        <div class="faculties">
            <ul>
                <li th:each="major : ${faculty.majors}" >
                    <a th:href="@{/major/__${major.id}__}" th:text="${major.name}"></a>
                </li>
            </ul>
        </div>
    </div>
</html>