<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link th:href="@{/css/styles.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		<script th:src="@{/js/jquery-1.11.2.js}" type="text/javascript"></script>
		<script th:src="@{/js/materialize.min.js}" type="text/javascript"></script>
		<script>
			function async(id) {
				console.log(id);
				$.get("/kni/admin/majors/list",{facultyId:id}, function (data) {
					/*<![CDATA[*/
					$("#majors").empty();
					for (i = 0; i<data.length; i++){
						var option = $('<option></option>').attr("value", data[i].id).text(data[i].name);
						$("#majors").append(option);
					}
					/*]]>*/
				});
			}
			function pullMajors(id,view){
				$.get("/kni/admin/majors/list",{facultyId:id}, function (data) {
					/*<![CDATA[*/
					view.empty();
					for (i = 0; i<data.length; i++){
						var option = $('<option></option>').attr("value", data[i].id).text(data[i].name);
						view.append(option);
					}
					/*]]>*/
				});
			}
			function pullSubjects(id,view){
				$.get("/kni/admin/subjects/list",{semesterId:id}, function (data) {
					/*<![CDATA[*/
					view.empty();
					for (i = 0; i<data.length; i++){
						var option = $('<option></option>').attr("value", data[i].id).text(data[i].name);
						view.append(option);
					}
					/*]]>*/
				});
			}
			function pullSemesters(id,view){
				console.log('pulling');
				console.log(id);
				$.get("/kni/admin/semesters/list",{majorId:id}, function (data) {
					/*<![CDATA[*/
					console.log(data);
					view.empty();
					for (i = 0; i<data.length; i++){
						var option = $('<option></option>').attr("value", data[i].id).text(data[i].number);
						view.append(option);
					}
					/*]]>*/
					return data;
				});
			}
			function doublePull(id,view1,view2){
				$.get("/kni/admin/majors/list",{facultyId:id}, function (data) {
					/*<![CDATA[*/
					view1.empty();
					view2.empty();
					for (i = 0; i<data.length; i++){
						var option = $('<option></option>').attr("value", data[i].id).text(data[i].name);
						view1.append(option);
					}

					if (data.length>0)
						console.log(pullSemesters(data[0].id,view2));


					/*]]>*/
				});
			}
			function pullSemestersAndSubjects(id,view1,view2){
				$.get("/kni/admin/semesters/list",{majorId:id}, function (data) {
					/*<![CDATA[*/
					view1.empty();
					for (i = 0; i<data.length; i++){
						var option = $('<option></option>').attr("value", data[i].id).text(data[i].number);
						view1.append(option);
					}

					if (data.length>0)
						pullSubjects(data[0].id,view2);


					/*]]>*/
				});
			}
			function triplePull(id,view1,view2,view3){

				$.get("/kni/admin/majors/list",{facultyId:id}, function (data) {
					/*<![CDATA[*/
					view1.empty();
					view2.empty();
					view3.empty();
					for (i = 0; i<data.length; i++){
						var option = $('<option></option>').attr("value", data[i].id).text(data[i].name);
						view1.append(option);
					}
					if (data.length==0) return;
					$.get("/kni/admin/semesters/list",{majorId:data[0].id}, function (data) {
						for (i = 0; i<data.length; i++){
							var option = $('<option></option>').attr("value", data[i].id).text(data[i].number);
							view2.append(option);
						}
						if (data.length ==0 )return;

						$.get("/kni/admin/subjects/list",{semesterId:data[0].id}, function (data) {
							for (i = 0; i<data.length; i++){
								var option = $('<option></option>').attr("value", data[i].id).text(data[i].name);
								view3.append(option);
							}
						});
					});
					/*]]>*/
				});
			}
		</script>
	</head>
	<body>
		<header>
			<div class="navbar z-depth-2">
				<nav>
					<div class="container nav-wrapper">
						<a th:href="@{/}" class="brand-logo">Politechnika Warszawska</a>
						<ul th:if="${currentUser==null}" class="right">
							<li><a th:href="@{/login}">Logowanie</a></li>
							<li><a th:href="@{/register}">Rejestracja</a></li>
						</ul>
						<ul th:if="${currentUser!=null}" class="right">
							<li><a th:text="${currentUser.username}">Username</a></li>
							<li><form method="post" th:action="@{/logout}"><button type="submit" class="waves-effect waves-light btn">Wyloguj się</button></form></li>
						</ul>
					</div>
				</nav>
			</div>			
		</header>
		
		<main>
			<div class="parallax-container">
				<h1 class="center-align white-text marg-top-200 shadow-text"><b>Studenci PW</b></h1>
				<div class="parallax">
					<img th:src="@{/images/bg.jpg}"/>
				</div>
			</div>
			<div id="scroll" th:include="__${content+' :: fragment'}__">
					
				
			</div>
			
			<div class="parallax-container">
				<div class="parallax">
					<img th:src="@{/images/background.jpg}"/>
				</div>
			</div>
		</main>
		
		<footer class="page-footer no-marg-top">
			<div class="container">
				<div class="section white-text center-align">
					Politechnika Warszawska 2015
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container center-align white-text">
					Politechnika Warszawska 2015
				</div>
			</div>
		</footer>
		
		<script type="text/javascript" th:src="@{/js/jquery.nicescroll.min.js}"></script>
		<script>
		  $(document).ready(function(){
				$('html,body').niceScroll({cursorcolor:'#ffffff',cursorborder: '0 solid #000000',zindex:'5',cursoropacitymax: '0'});
				$('.parallax').parallax();
				var position = $('#scroll').offset().top;
				$('html,body').animate({"scrollTop": position + "px"},0);
				$('select').material_select();
			});
		</script>	
	</body>
</html>