<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/css.css" th:href="@{/css/css.css}"/>

</head>
<body>

<h2>Wydziały</h2>
<div th:each="faculty : ${faculties}" >
    <p>
        <a th:href="@{/faculty/__${faculty.id}__}" th:text="${faculty.name}"/>
    </p>
</div>

<p th:if="${faculties.size()}==0">No faculties found.</p>

<a th:if="${currentUser==null}" th:href="@{/register}">Register</a>
<a th:if="${currentUser==null}" th:href="@{/login}">Login</a>

<form th:if="${currentUser!=null}" role="form" th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Log out</button>
</form>

<p th:if="${currentUser!=null and currentUser.getRole()==admin}">You're an admin!</p>
<p th:if="${currentUser!=null and currentUser.getRole()!=admin}">You're just a simple user!</p>

</body>

</html>