<html xmlns:th="http://www.w3.org/1999/xhtml"> 
<div th:fragment="fragment">


	<div class="row">
		<h2 class="header">Logowanie</h2>
	</div>
  <div class="row">
    <form class="col s8" th:action="@{/login}" method="post">
		<div class="row">
			<div class="input-field col s8">
				<input id="email" type="email" name="email" class="validate" required=""/>
				<label for="email">E-mail</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s8">
				<input id="password" name="password" type="password" class="validate" required=""/>
				<label for="password">Hasło</label>
				<span class="error"></span>
			</div>
		</div>
		<div class="row">
			<div class="col s4">
				<button type="submit" class="waves-effect waves-light btn">Zaloguj się</button>
			</div>
			<div class="col s4">
				<input type="checkbox" name="remember-me" id="remember-me" />
				<label for="remember-me">Zapamiętaj mnie</label>
			</div>
		</div>
		<div class="row col s6">
			<span th:if="${param.error}" class="error-block">Niepoprawny e-mail lub hasło.</span>
		</div>
    </form>
  </div>
</div>
</html>