<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="fragment">

    <h2>Logowanie</h2>
    <form class="form-horizontal" th:action="@{/login}" method="post">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email" >E-mail</label>
                <div class="col-md-4">
                    <input id="email" name="email" placeholder="E-mail" required="true" class="form-control input-md" type="text"/>
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Hasło</label>
                <div class="col-md-4">
                    <input id="password" name="password" required="true" placeholder="Hasło" class="form-control input-md" type="password"/>
                    <span th:if="${param.error}" class="error-block">Niepoprawny e-mail lub hasło.</span>
                </div>
            </div>

            <!-- Multiple Checkboxes -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="remember-me"></label>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label for="remember-me">
                            <input name="remember-me" id="remember-me" type="checkbox"/>
                            Zapamiętaj mnie
                        </label>
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="login"></label>
                <div class="col-md-4">
                    <button id="login" type="submit" class="btn btn-primary">Zaloguj</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</html>