<div th:fragment="fragment">
	<nav>
		<div class="container nav-wrapper">
			<a class="brand-logo">Strona główna</a>
		</div>
	</nav>
				
	<div class="container">
		<div class="section">
		
			<div class="row marg-top-20">
			
				<div class="col s8 offset-s2">
				
					<div class="row no-marg-bottom">
						<nav>
						  <div class="nav-wrapper">
							<a class="brand-logo center">Wybierz wydział</a>
						  </div>
						</nav>
					</div>
					<div class="row card-panel hoverable no-marg-top">
						<div class="collection">
							<a th:each="faculty : ${faculties}" th:href="@{/faculty/__${faculty.id}__}" th:text="${faculty.name}" class="collection-item">Nazwa wydziału</a>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>

</div>