<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="fragment">
    <h2>Rejestracja</h2>
    <form class="form-horizontal" th:action="@{/register}" th:object="${userCreateForm}" method="post">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">E-mail</label>
                <div class="col-md-4">
                    <input th:field="*{email}" id="email" name="email" placeholder="E-mail" class="form-control input-md" required="" type="text"/>
                    <span class="error-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">help</span>
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Hasło</label>
                <div class="col-md-4">
                    <input th:field="*{password}" id="password" name="password" placeholder="Hasło" class="form-control input-md" required="" type="password"/>
                    <span class="error-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">help</span>
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password-repeated">Powtórz hasło</label>
                <div class="col-md-4">
                    <input th:field="*{passwordRepeated}" id="password-repeated" name="password-repeated" placeholder="Powtórz hasło" class="form-control input-md" required="" type="password"/>
                    <span class="error-block" th:if="${#fields.hasErrors('passwordRepeated')}" th:errors="*{passwordRepeated}">help</span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="register"></label>
                <div class="col-md-4">
                    <button type="submit" id="register" name="register" class="btn btn-primary">Zarejestruj się</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</html>