<div th:fragment="fragment">
<nav>
						<div class="container nav-wrapper">
							<a href="#" class="brand-logo" th:text="${subject.name}">Nazwa przedmiotu</a>
							<ul class="right ">
								<li><a th:href="@{/}">Strona główna</a></li>
								<li><a th:href="@{/faculty/__${subject.semester.major.faculty.id}__}" th:text="${subject.semester.major.faculty.name}">Nazwa wydziału</a></li>
								<li><a th:href="@{/major/__${subject.semester.major.id}__}" th:text="${subject.semester.major.name}">Nazwa kierunku</a></li>
								<li><a th:href="@{/semester/__${subject.semester.id}__}" th:text="${'Semestr '+subject.semester.number}">Nazwa semestru</a></li>
							</ul>
						</div>
					</nav>
				
				<div class="container">
					<div class="section">
					
						<div class="row marg-top-20">
						
							<div class="col s8 offset-s2">
							
								<div class="row card-panel hoverable no-marg-top">

									<div class="col s12">
										<div class="row">
											<ul class="tabs">
												<li class="tab"><a href="#description">Opis</a></li>
												<li class="tab"><a href="#teachers">Nauczyciele</a></li>
												<li class="tab"><a th:class="${opinionsTab}? active : none" href="#opinions">Opinie</a></li>
												<li class="tab"><a th:class="${booksTab}? active : none" href="#books">Literatura</a></li>
												<li class="tab"><a href="#files">Pliki</a></li>
											</ul>
										</div>
										
										<div class="section">
											<div id="description" class="col s12" th:text="${subject.description}">
											</div>
											<div id="teachers" class="col s12">To be added.</div>
											<div id="books" th:include="subject-books::subject-books">
											</div>
											<div id="opinions" th:include="subject-opinions::subject-opinions">
											</div>
											<div id="files" th:include="subject-files::subject-files">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
</div>